rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // No rules needed as Firestore is not actively used.
  }
}
